/* Default styles */
.tss-share-buttons {
	overflow: auto;
	line-height: 1.5;
	margin: 10px 0;
}

.tss-share-buttons a.share-button {
	display: inline-block;
	float: left;
	color: #fff;
	transition: background-color 0.3s ease;
	box-shadow: none;
	cursor: pointer;
	margin: 0;
	letter-spacing: normal;
}

.tss-share-buttons a.share-button:hover {
    color: #fff;
}

.tss-share-buttons a.share-button:focus {
   outline: none;
   color: #fff;
}

.tss-share-buttons .share-button.facebook {
	background-color: #3b5998;
}

.tss-share-buttons .share-button.facebook:hover {
	background-color: #102550;
}

.tss-share-buttons .share-button.twitter {
	background-color: #1da1f2;
}

.tss-share-buttons .share-button.twitter:hover {
	background-color: #106fa9;
}

.tss-share-buttons .share-button.google-plus {
	background-color: #dd4b39;
}

.tss-share-buttons .share-button.google-plus:hover {
	background-color: #8e2a1e;
}

.tss-share-buttons .share-button.pinterest {
	background-color: #bd081c;
}

.tss-share-buttons .share-button.pinterest:hover {
	background-color: #770915;
}

.tss-share-buttons .share-button.linkedin {
	background-color: #0077b5;
}

.tss-share-buttons .share-button.linkedin:hover {
	background-color: #074b6f;
}

.tss-share-buttons .share-button.whatsapp {
	background-color: #25d366;
}

.tss-share-buttons .share-button.whatsapp:hover {
	background-color: #19773c;
}

/* Icon sizes */
.tss-share-buttons.small {
	font-size: 1rem;
}

.tss-share-buttons.small .share-button {
	padding: 4px 7px 1px;
}

.tss-share-buttons.medium {
	font-size: 2rem;
}

.tss-share-buttons.medium .share-button {
	padding: 5px 10px 2px;
}

.tss-share-buttons.large {
	font-size: 3rem;
}

.tss-share-buttons.large .share-button {
	padding: 10px 15px 4px;
}

/* Featured Image Wrapper */
.tss-featured-image-container {
	position: relative;
}

.tss-featured-image-container img {
	vertical-align: bottom;
}

.tss-featured-image-container .tss-featured-image-toggle,
.tss-featured-image-container .tss-share-buttons {
	position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.tss-featured-image-container .tss-featured-image-toggle {
    padding: 0 30px;
    color: #fff;
    background-color: #777;
	font-size: 12px;
    font-weight: 400;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
    z-index: 999;
}

.tss-featured-image-container .tss-share-buttons {
	display: none;
	margin: 0;
}

.tss-featured-image-container .tss-share-buttons a {
	display: inline-block;
}

.tss-featured-image-container .tss-share-buttons.small {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.tss-featured-image-container .tss-share-buttons.medium {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.tss-featured-image-container .tss-share-buttons.large {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Floating Left */
.tss-share-buttons.floating-left {
	position: fixed;
    left: 0;
    top: 25%;
    z-index: 999;
}

.tss-share-buttons.floating-left .share-button {
	display: block;
	float: none;
}